@import '../../../../styles/variables';

.wrap {
  width: 100%;
  display: flex;
  color: $text-gray;
}

.message {
  width: 100%;
  max-width: 730px;
  margin: 12px 0;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background: $gray;
  border-radius: 10px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.time {
  width: 100%;
  text-align: right;
  font-family: Arial;
  font-size: 16px;
}

.info {
  display: flex;
}
.desc {
  margin: 0 8px;
}
.title {
  color: $green;
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
}
.body {
  margin: 15px 0;
  color: #000;
  font-family: Arial;
  font-size: 18px;
}
.messageLike {
  height: 26px;
  border: none;
  outline: none;
  background: transparent;
  color: $text-gray;
  font-size: 31px;
  &Wrap {
    display: flex;
    align-items: flex-end;
  }
}
.like {
  color: $green;
}
.myMessage {
  background: $gark-gray;
  &Wrap {
    justify-content: flex-end;
  }
}
.avatar {
    max-width: 79px;
    min-width: 79px;
    margin: 0 16px 16px 8px;
    img {
        width: 100%;
    }
}

@media (max-width: 560px) {
  .time {
    font-size: 14px;
  }
  .title {
    font-size: 20px;
  }
  .body {
    margin: 10px 0;
    font-size: 16px;
  }
  .messageLike {
    height: 20px;
    font-size: 24px;
  }
  .avatar {
    margin-right: 8px;
    margin-bottom: 14px;
  }
}

@media (max-width: 560px) {
  .time {
    font-size: 12px;
  }
  .title {
    font-size: 18px;
  }
  .body {
    font-size: 14px;
  }
  .avatar {
    margin-bottom: 12px;
  }
}