.header {
    width: 100%;
    background: #000;
    &-inner {
        padding: 18px 0;
        display: flex;
        align-items: center;
    }
    &-logo {
        margin-right: 35px;
        color: $green;
        font-family: Arial;
        font-size: 30px;
        font-weight: 700;
    }
    &-chat-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        &-number-of {
            color: #fff;
            font-family: Arial;
            font-weight: 700;
            font-size: 18px;
        }
        &-last-message {
            color: $gray;
            font-family: Arial;
            font-size: 18px;
        }
    }
}

@media (max-width: 720px) {
    .header-logo {
        margin-right: 25px;
        font-size: 24px;
    }
    .header-chat-info-number-of,
    .header-chat-info-last-message {
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    .header-chat-info {
        flex-direction: column;
        align-items: flex-end;
    }
}

@media (max-width: 420px) {
    .header-logo {
        margin-right: 0;
        font-size: 20px;
    }
    .header-chat-info-number-of,
    .header-chat-info-last-message {
        font-size: 12px;
    }
}