@import 'normalize';
@import 'reset';
@import 'variables';
@import 'mixins';

html,
body,
#root,
.App {
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.chat-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1 0 auto;
}

.content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 25px;
}
.display-none {
    display: none;
}

@media (max-width: 420px) {
    .content {
        padding: 0 15px;
    }
}